<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We Detect Adulteration, Preserving Authenticity.Our Cutting-edge Technology Detects Honey
    Adulteration with Precision. Trust in Transparency as We Safeguard the Purity of Your Honey.
    From Hive to Home, Our Rigorous Standards Ensure Only Genuine Sweetness.
    Unaltered Goodness. Join Us in the Fight Against Adulteration, Because Your Trust
    Matters. ">
    <meta name="keywords" content="HONEY Analyzer">
    <meta name="robots" content="index , follow">
    <title>Honey Analyzer</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="static/images/style.css">
    

</head>

<body>
    <!--START NAVBAR SECTION-->
    <header class="navbar-section">
        <div class="container">
            <div class="navbar-brand">
                <a href="index.html">
                    <img src="../static/images/WhatsApp_Image_2024-05-04_at_10.49.01_PM-removebg-preview3.png"
            alt="HONEY Analyzer logo" width="30%" height="auto">
                </a>
            </div>
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}" target="_blank">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('testing') }}" target="_blank">Testing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--END NAVBAR SECTION-->

    <!--Start Hero-Section -->
    <main>
        <div class="hero-section">
            <div class="container grid grid-two-columns">
                <div class="hero-section-content">
                    <p class="hero-subheading">
                        BE SURE EAT SAFE
                    </p>
                    <h1 class="hero-heading">
                        Detect Honey Adulteration with Our Rapid Testing Technology."
                    </h1>

                    <p class="hero-para">
                        here you can predict adulteration in honey."

                    </p>
                    <div class="hero-button">
                        <a href="testing.html" class="button" target="_blank">Testing Here</a>
                    </div>
                </div>
                <div class="hero-section-image" data-aos="fade-up">
                    <figure>
                        <img src="../static/images/main-logo-bgremove.png" alt="HONEY Analyzer Image">
                    </figure>
                </div>
            </div>
        </div>
        <div class="custom-shape-divider-bottom-1707919437">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
    </main>
    <!--End Hero-Section -->

    <!-- Start-About-Section -->
    <section class="about-section">
        <div class="container">
            <h2 class="section-common-heading">
                About Honey Analyzer
            </h2>
            <p class="section-common-subheading">
                Honey Adulteration with Precision.Trust in Transparency as We Safeguard the Purity of Your Honey.
            </p>
        </div>

        <div class="container grid grid-three-column">
            <div class="about-div" data-aos="fade-up">
                <div class="icon">
                    <img src="../static/images/content-research-icon-free-vector-removebg-preview.png"
                        alt="HONEY Analyzer research img">
                </div>
                <h3 class="section-common-title">Research</h3>
                <p>This research investigates the detection of honey adulteration using hyperspectral imaging and
                    machine learning (ML). By analyzing the unique spectral signatures of pure and adulterated honey
                    samples, our approach, combining hyperspectral imaging and ML algorithms.</p>
            </div>

            <div class="about-div" data-aos="fade-up" data-aos-delay="300">
                <div class="icon">
                    <img src="../static/images/images__3_-removebg-preview (1).png" alt="HONEY Analyzer purity image">
                </div>
                <h3 class="section-common-title">Purity</h3>
                <p>Discover the bitter truth behind the sweet allure of honey. Adulteration of honey purity is a
                    pervasive issue, compromising not only its taste but also its health benefits. Let's delve into the
                    complexities of this deceptive practice."</p>
            </div>


            <div class="about-div" data-aos="fade-up" data-aos-delay="600">
                <div class="icon">
                    <img src="../static/images/images__4_-removebg-preview.png" alt="HONEY Analyzer Development image">
                </div>
                <h3 class="section-common-title">Development</h3>
                <p>Hyperspectral imaging captures a wide range of wavelengths, revealing subtle differences in honey
                    composition."
                    "It can identify foreign substances, such as sugar syrups, added to honey.Hyperspectral imaging aids
                    in maintaining the integrity and quality of honey products."</p>
            </div>


        </div>
    </section>
    <!-- End-About-Section -->

    <!-- Start-Course-Section -->
    <section class="course-section">
        <div class="container">
            <h2 class="section-common-heading">
                Let's Check Our Best Features
            </h2>
            <p class="section-common-subheading">
                Discover a variety of Features across different categories.
            </p>
        </div>

        <div class="container grid grid-four-column">
            <div class="course-div">
                <div class="icon">
                    <i class="fa-solid fa-list"></i>
                </div>
                <h3 class="section-common-title">Honey Type</h3>
                <p>Describing The difference Types of adulteration honey E.g Manuka,clover,rewarewa</p>
            </div>

            <div class="course-div">
                <div class="icon">
                    <i class="fa-solid fa-list"></i>
                </div>
                <h3 class="section-common-title">Adulteration+Type</h3>
                <p>We Also discuss the type of Adulteration in honey or examination various form of honey</p>
            </div>

            <div class="course-div">
                <div class="icon">
                    <i class="fa-solid fa-microchip"></i>
                </div>
                <h3 class="section-common-title">Adulteration</h3>
                <p>Our Hyperspectral Technology enables us to identify Honey adulteration with 100% accuracy</p>
            </div>

            <div class="course-div">
                <div class="icon">
                    <i class="fa-solid fa-regular fa-clock"></i>
                </div>
                <h3 class="section-common-title">24/7 Service</h3>
                <p>We are Providing 24/7 Services for honey Adulteration Testing</p>
            </div>


    </section>
    <!-- End-Course-Section -->

    <!-- Start-Contact-home-Section -->
    <section class="contact-home-section" id="">
        <div class="container grid grid-two-columns">
            <div class="contact-content">
                <h2 class="contact-title">Let's revolutionize the Honey adulteration</h2>
                <p class="contact-para">Join our free Honey Adulteration Testing</p>
                <div class="button"><a class="button" href="contact.html">
                        Start Now <i class="fa-solid fa-arrow-circle-right"></i>
                    </a></div>
            </div>
            <div class="contact-image">
                <<img src="../static/images/honey-wooden-table__1_-removebg-preview.png" alt="HONEY Analyzer contact image">
            </div>
        </div>
    </section>
    <!-- End-Contact-home-Section -->


    <!-- Start-Footer-Section -->
    <footer>
        <div class="container grid grid-four-column">
            <div class="footer-1-div" id="bottom">
                <div class="footer-brand">
                    <a href="index.html" class="footer-subheading">Honey Analyzer</a>
                </div>
                <p>
                    Let's revolutionize the honey adulteration Testing!
                </p>
                <div class="social-footer-icon">
                    <a href="" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>

            <div class="footer-2-div">
                <p class="footer-subheading">Honey Analyzer</p>
                <ul>
                    <li><a href="#">Manuka</a></li>
                    <li><a href="#">Clover</a></li>
                    <li><a href="#">Rewarewa</a></li>
                    <li><a href="#">MultiFloral</a></li>
                    <li><a href="#">Kamahi</a></li>
                </ul>

            </div>


            <div class="footer-3-div">
                <p class="footer-subheading">Adulteration</p>
                <ul>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                </ul>

            </div>


            <div class="footer-4-div">
                <p class="footer-subheading">Members</p>
                <ul>
                    <li><a href="#">Anna Amjad</a></li>
                    <li><a href="#">Hazrat Usman</a></li>
                    <li><a href="#">Supervised by</a></li>
                    <li><a href="#">Dr.Maryam</a></li>
                    <li><a href="#">Cecos university</a></li>
                </ul>

            </div>

        </div>
    </footer>
    <!-- End-Footer-Section -->




    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


</body>

</html>