@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..;1,100..900&display=swap');

/* base rule */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    min-width: 1em;
}
html {
    min-width: 1em;
    font-size: 56.25%;
    /* 1rem = 10px */
    scroll-behavior: smooth;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "poppins" sans-serif;
}

p,
label,
li,
a {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    color: var(--para-color);
    line-height: 1.5;
    word-spacing: 0.2rem;
   
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

/* theme rule */

:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --para-color: #504e4d;
    --hero-heading-color:black;
    --white-color:#ffffff;
    --test:#080101;
    --footer-bg-color:#040d12;
    --button-hover-bg-color:#003b99;
    --button-box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
}


/* layout rule */

.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 9.6rem 4.4rem;
}
.contact-section .container:first-child,
.section-blog .container:first-child,
.course-section .container:first-child,
.Why-Choose-section .container:first-child,
.about-section .container:first-child{
padding-top: 6.4rem;
padding-bottom: 2.4rem;
}

.grid{
    display: grid;
}

.grid-two-columns{
    grid-template-columns: repeat(2,1fr);
}

.grid-three-column{
    grid-template-columns: repeat(3,1fr);
}

.grid-four-column{
    grid-template-columns: repeat(4,1fr);
}

/* module rule */
/* reusable */
.button{
    display: inline-block;
    padding: 1rem 1.2rem;
    background-color: black;
    color: white;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.section-common-heading{
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading{
    color: var(--heading-color);
}

.section-common-title{
    font-size: 2rem;
    margin: 2.2rem 0 1.2rem 0 ;
}

.course-div .icon .fa-brands{
    padding: 2.4rem;
    font-size: 2.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.course-div .icon .fa-solid{
    padding: 2.4rem;
    font-size: 2.8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


/* state rule */

.button:hover{
    background-color: white;
    box-shadow: var(--button-box-shadow);
    color: black;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover{
    background-color: orange;
}


/* NavBar-Section start */

.navbar-section {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4.4rem;
}

.navbar-brand {
    width: 24rem;
}

.navbar-section .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.8rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid black;
            transition: all .4s linear;
            -webkit-transition: all .4s linear;
            -moz-transition: all .4s linear;
            -ms-transition: all .4s linear;
            -o-transition: all .4s linear;
}
    }
}

.navbar-section .navbar ul li a:hover:after {
    width: 100%;
}

/* NavBar-Section end */

/* ---------------------------------------------------------------------------------------- */

/* Start-Hero-Section */
main{
    position: relative;
    background-image: linear-gradient(
        to top right,
        #F97300,
        #F3CA52,
        #FFC94A
        
    );
}

.hero-section .grid{
    align-items: center;
    gap: 18.5rem;

    & .hero-subheading{
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        font-weight: 700;
        color: var(--hero-heading-color);
    }
}


.hero-section .hero-section-content .hero-heading{
    font-size: 4rem;
    font-family: "Jost";
    color: var(--hero-heading-color);
    font-weight: 900;
    line-height: 1.5;
    text-transform: capitalize;
}

.hero-section .hero-section-content .hero-para{
    color: black;
    margin:2rem 0 4.3rem 0 ;
}

.hero-section-image img{
    width: 80%;
    height: auto;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/* shap-divider start*/
.custom-shape-divider-bottom-1707919437 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.custom-shape-divider-bottom-1707919437 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 12rem;
}

.custom-shape-divider-bottom-1707919437 .shape-fill {
    fill: #FFFFFF;
}
/* shap-divider-end*/

/* End-Hero-Section */

/* ---------------------------------------------------------------------------------------- */


/* Start-About-Section */
.about-section .about-div img{
    padding: 2.4rem;
    background-color: #F3CA52;
    width: 12rem;
    height: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.about-section .about-div{
    text-align: center;
}

.about-section .grid{
    gap: 6.4rem;
}

.about-section .about-div .icon:hover > img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    background-image: linear-gradient(to right,#F3CA52,#ec7812);
}
/* End-About-Section */


/* ---------------------------------------------------------------------------------------- */

/* Start-Course-Section */
.course-section .grid{
    gap: 3.2rem;
}

.course-section{
    background-color:#F3CA52;
}

.course-div{
    padding: 3.2rem;
}

.course-section .course-div:hover{
    box-shadow: var(--button-box-shadow);
}

.fa-code{
    color: #FF8B52;
    background-color:#FBEBE8;
}
.fa-css3-alt{
    color: #1450A3;
    background-color: #DCE9FA;
}
.sql{
    color: #D988B9;
}
.fa-java{
    color: #183D3D;
    background-color: #CCF7F7;
}
.fa-js{
    color: orange;
    background-color: var(--supporting-color);
}
.fa-php{
    color: #003B9F;
    background-color: #EBF3FE;
}
.fa-python{
    color: #68BF9B;
    background-color: #E7F6EF;
}

/* End-Course-Section */


/* ---------------------------------------------------------------------------------------- */


/*Start-contact-home-Section */

.contact-home-section{
    width: 60%;
    min-height:35rem;
    max-height: 50rem;
    margin: 0 auto;
    box-shadow: var(--button-box-shadow);
    margin-bottom: 5rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    -moz-border-radius: 1.2rem;
    -ms-border-radius: 1.2rem;
    -o-border-radius: 1.2rem;
    background-color: var(--white-color);
    position: relative;
    bottom: -20rem;

}

.contact-home-section .grid{
    align-items: center;
    gap: 5rem;
}

.contact-content .contact-title{
    font-size: 3.4rem;
    line-height: 1.2;
}

.contact-content .contact-para{
    margin: 1.2rem 0 2.8rem 0;
}

.contact-home-section{
    margin-top: -10rem;
}

.contact-home-section .contact-image img{
    width: 100%;
}

.fa-arrow-circle-right{
    background-color: black;
}
.button a{
    color: var(--white-color);
}
/*End-contact-home-Section */

/* ---------------------------------------------------------------------------------------- */


/*Start-Footer-Section */
footer{
    background-color: black;
    padding-top: 15rem;
}

footer *{
    color: var(--white-color);
}

footer .grid{
    justify-items: end;
}

.footer-brand .footer-subheading{
    font-size: 2.4rem;
    font-weight: 700;
}

.footer-1-div p{
    margin: 1.2rem 0 3.2rem 0;
}

.social-footer-icon{
    display: flex;
    gap: 2rem;
}

.footer-1-div .fa-brands{
        width: 5rem;
        aspect-ratio: 1;
        background-color: var(--supporting-color);
        color: var(--button-hover-bg-color);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        -ms-transition: all .3s linear;
        -o-transition: all .3s linear;
}

.footer-1-div .fa-brands:hover{
    background-color: #e9b413;
    color: var(--supporting-color);
    rotate: 360deg;

}


/*End-Footer-Section */

/* ---------------------------------------------------------------------------------------- */

/*Start-Contact-Section */
.mb-3{
    margin-bottom: 2.3rem;
}
label{
    display: block;
    text-transform: capitalize;
}

input , textarea{
    width: 100%;
    padding: 1.4rem 2.4rem;
    letter-spacing: 0.1rem;
}

form .grid{
    gap: 5.4rem;
}

::placeholder{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.contact-button button{
    font-size: 1.8rem;
    border: none;
    margin-top: 1.2rem;
}

.contact-section .grid{
    align-items: center;
    gap: 6.4rem;
}

input:focus-visible{
    outline:0.1rem solid var(--button-hover-bg-color);
}
textarea:focus-visible{
    outline:0.1rem solid var(--button-hover-bg-color);
}
/*End-Contact-Section */

/* ---------------------------------------------------------------------------------------- */


/* Start-Scroll-bar-Section */
::-webkit-scrollbar{
    width: 1.5rem;
}

::-webkit-scrollbar-thumb{
    background-color: #FFC94A;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

::-webkit-scrollbar-track{
    background-color: white;
}
/* End-Scroll-bar-Section */

/* testing-section start */

    
.centered-bold-text {
            text-align: center;
            font-weight: bold;
            font-size: 24px; /* You can adjust the font size as needed */
        }

.main-content{
    width: 100%;
    height: 85vh;
    background-color: #FFC94A;
    overflow: hidden;

}
.testing-section .main-content h1{
    position: relative;
    text-align: center;
    font-size: 6rem;
    color:  black;
    padding-top: 7rem;
    color: var(--heading-color);
    text-transform: uppercase;
    margin-left: 34rem;
    font-weight: 600;
    display: inline-block;

    &::after{
        content: "";
        position: absolute;
        bottom: -0.3rem;
        left: 0;
        width: 0%;
        border-bottom: 0.5rem solid black;
        animation: underline-heading 2s linear infinite alternate;
        -webkit-animation: underline-heading 2s linear infinite alternate;
}
}

@keyframes underline-heading {
    from{
        width: 100%;
    }
}

.testing-section .main-content h2{
    text-align: center;
    padding-top:7rem ;
    color: black;
    font-size: 2.1rem;
    word-spacing: .2rem;
    line-height: 5rem;
}

.testing-heading{
    font-size: 5rem;
    text-align: center;
    margin-top: 5rem;
    font-weight: 700;
    
}
.input form{
    & label{
        font-size: 3.3rem;
    }
}
.input form input{
    padding-left: 58rem;
    font-size: 1.8rem;
}

.input{
    display: flex;
    border: .2rem solid black;
    text-transform: uppercase;
    margin-top: 10rem;
    padding: 10rem;
    width: 70%;
    margin-left: 16%;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;  
    background-image: linear-gradient(
        to top right,
        #F97300,
        #F3CA52,
        #FFC94A
        
    );

    & .input-data p{
        font-size: 2.1rem;
        padding: 1rem;
        margin-top:-4rem ;
        margin-bottom: 5rem;
        font-weight: 700;
        text-align: center;
    }

    .file-input{
        display: flex;
        justify-content: center;
    }

    input{
      padding-right: 80rem;
      width: 30rem;
    }

    button{
        width: 10rem;
        padding: .8rem;
        background-color: white;
        font-size: 1.8rem;
        font-weight: 700;
        margin-left: 22rem;
        margin-top: 3rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
}

    select{
        margin-top: 2rem;
        margin-left: 12rem;
        padding: 1.3rem;
        outline: .3rem solid black;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        width: 30rem;
}




}



/* testing-section end */
/* ---------------------------------------------------------------------------------------- */






/* Start Media-Quries-Section */
@media (width > 1400px){
    html{
        font-size: 62.5%;
    }
}

@media (width < 1270px) {
    html{
        font-size: 40%;
    }

}

@media (width < 1200px) {
   html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
   }
}

@media (width < 1220px){
    html{
        font-size: 54%;
    }

    .hero-section{
        height: auto;
        padding-bottom: 2rem;
}


.contact-home-section{
    width: 80%;
}

.contact-section{
    & .grid-two-columns{
        grid-template-columns: 1fr;
    }

    & .contact-map iframe{
        width: 100%;
    }
}

}

@media (width < 999px){

    .hero-section figure{
       display: flex;
       justify-content: center;
        
    }

    .hero-section{
        height: auto;
        padding-bottom: 5rem;
        & .grid-two-columns{
            grid-template-columns: 1fr;

            & .hero-section-content{
                order: 2;
            }

            & .hero-section-image{
                order: 1;
                
                & img{
                    width: 40%;
                    /* border: 1px solid black; */
                    
                }
            }
        }
    }

    .course-section{
        & .grid-four-column{
            grid-template-columns: repeat(2,1fr);
        }
    }
    
  
.text-align-right .why-choose-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: start;
    
}


.section-blog .grid-four-column{
    grid-template-columns: repeat(2,1fr);
}

}

@media (width < 769px){
    .grid-three-column{
    grid-template-columns: 1fr;
   }

   .navbar-section .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .navbar-brand{
        text-align: center;
    }
   }

   .about-section .about-div{
    text-align: start;
}

.contact-map iframe{
    height: 200px;
}

}

@media (width < 621px) {
    html{
        font-size: 40%;
    }
}


@media (width < 462px) {
    html{
        font-size: 25%;
    }
}

/* End Media-Quries-Section */