<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We Detect Adulteration, Preserving Authenticity.Our Cutting-edge Technology Detects Honey
    Adulteration with Precision. Trust in Transparency as We Safeguard the Purity of Your Honey.
    From Hive to Home, Our Rigorous Standards Ensure Only Genuine Sweetness.
    Unaltered Goodness. Join Us in the Fight Against Adulteration, Because Your Trust
    Matters. ">
    <meta name="keywords" content="HONEY Analyzer">
    <meta name="robots" content="index , follow">
    <title>Honey Analyzer About </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="static/images/style.css"></head>

<body>
    <!--START NAVBAR SECTION-->
    <header class="navbar-section">
        <div class="container">
            <div class="navbar-brand">
                <a href="index.html">
                    <img src="../static/images/WhatsApp_Image_2024-05-04_at_10.49.01_PM-removebg-preview3.png"
                        alt="HONEY Analyzer logo" width="30%" height="auto">
                </a>
            </div>
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}" target="_blank">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('testing') }}" target="_blank">Testing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#bottom">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!--END NAVBAR SECTION-->


    <!-- Start-About-Section -->
    <section class="about-section">
        <div class="container">
            <h2 class="section-common-heading">
                About Honey Analyzer
            </h2>
            <p class="section-common-subheading">
                Honey Adulteration with Precision.Trust in Transparency as We Safeguard the Purity of Your Honey.
            </p>
        </div>

        <div class="container grid grid-three-column">
            <div class="about-div" data-aos="fade-up">
                <div class="icon">
                    <img src="../static/images/content-research-icon-free-vector-removebg-preview.png"
                        alt="HONEY Analyzer research img">
                </div>
                <h3 class="section-common-title">Research</h3>
                <p>This research investigates the detection of honey adulteration using hyperspectral imaging and
                    machine learning (ML). By analyzing the unique spectral signatures of pure and adulterated honey
                    samples, our approach, combining hyperspectral imaging and ML algorithms.</p>
            </div>

            <div class="about-div" data-aos="fade-up" data-aos-delay="300">
                <div class="icon">
                    <img src="../static/images/images__3_-removebg-preview (1).png" alt="HONEY Analyzer purity image">
                </div>
                <h3 class="section-common-title">Purity</h3>
                <p>Discover the bitter truth behind the sweet allure of honey. Adulteration of honey purity is a
                    pervasive issue, compromising not only its taste but also its health benefits. Let's delve into the
                    complexities of this deceptive practice."</p>
            </div>


            <div class="about-div" data-aos="fade-up" data-aos-delay="600">
                <div class="icon">
                    <img src="../static/images/images__4_-removebg-preview.png" alt="HONEY Analyzer Development image">
                </div>
                <h3 class="section-common-title">Development</h3>
                <p>Hyperspectral imaging captures a wide range of wavelengths, revealing subtle differences in honey
                    composition."
                    "It can identify foreign substances, such as sugar syrups, added to honey.Hyperspectral imaging aids
                    in maintaining the integrity and quality of honey products."</p>
            </div>


        </div>
    </section>
    <!-- End-About-Section -->

    <!-- Start-Contact-home-Section -->
    <section class="contact-home-section" id="">
        <div class="container grid grid-two-columns">
            <div class="contact-content">
                <h2 class="contact-title">Let's revolutionize the Honey adulteration</h2>
                <p class="contact-para">Join our free Honey Adulteration Testing</p>
                <div class="button"><a class="button" href="contact.html">
                        Start Now <i class="fa-solid fa-arrow-circle-right"></i>
                    </a></div>
            </div>
            <div class="contact-image">
                <img src="../static/images/honey-wooden-table__1_-removebg-preview.png" alt="HONEY Analyzer contact image">
            </div>
        </div>
    </section>
    <!-- End-Contact-home-Section -->


    <!-- Start-Footer-Section -->
    <footer>
        <div class="container grid grid-four-column">
            <div class="footer-1-div" id="bottom">
                <div class="footer-brand">
                    <a href="index.html" class="footer-subheading">Honey Analyzer</a>
                </div>
                <p>
                    Let's revolutionize the honey adulteration Testing!
                </p>
                <div class="social-footer-icon">
                    <a href="" target="_blank">
                        <i class="fa-brands fa-github"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                    <a href="#" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </div>
            </div>

            <div class="footer-2-div">
                <p class="footer-subheading">Honey Analyzer</p>
                <ul>
                    <li><a href="#">Manuka</a></li>
                    <li><a href="#">Clover</a></li>
                    <li><a href="#">Rewarewa</a></li>
                    <li><a href="#">MultiFloral</a></li>
                    <li><a href="#">Kamahi</a></li>
                </ul>

            </div>


            <div class="footer-3-div">
                <p class="footer-subheading">Adulteration</p>
                <ul>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                    <li><a href="#">Honey</a></li>
                </ul>

            </div>


            <div class="footer-4-div">
                <p class="footer-subheading">Members</p>
                <ul>
                    <li><a href="#">Anna Amjad</a></li>
                    <li><a href="#">Hazrat Usman</a></li>
                    <li><a href="#">Supervised by</a></li>
                    <li><a href="#">Dr.Maryam</a></li>
                    <li><a href="#">Cecos university</a></li>
                </ul>

            </div>

        </div>
    </footer>
    <!-- End-Footer-Section -->




    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>


</body>

</html>